.headerProfileContainer{
    background: var(--title);
    color: var(--white-dark);
    padding: 1.5rem;
    z-index: 2;
    position: fixed;
    width: 100%;    
    display: grid;  
    grid-template-columns: 60% 40%;
    border-bottom:1px solid rgba(0, 0, 0, 0.5);
   
    
}

.headerProfileContainer ul{
    flex: 1;
    align-items: center;
    display: flex;
    align-content: center;
    
    
}


.headerProfileContainer ul li{
    margin: 0 1rem;
}



.bg-customized{
    background-color: #003166;
}


