
.sidebarContainer{
    top:0;
     position: fixed;
      width: 15%;
      color: var(--white-dark);
      z-index: 1;
     padding-top:6.9%; 
      height: 100vh;
      background: var(--title);
      padding-left: 1.5rem;
      border-right:1px solid    rgba(0, 0, 0, 0.5);
     
  
  }
  
  .sidebarContainer>ul>li{
      font-size:1rem;
      padding: 1%; 
      line-height: 1.5rem; 
  }

  .sidebarContainer>ul>li ul{
    padding-left: 1rem;
}
  .sidebarContainer>ul>li>ul>li{
    display:none;
    left: 1%;
    transition: 0.5s;
}

  .sidebarContainer>ul>li>ul>li:hover{
    background-color:var(--blue-twiter);
    color: var(--title);
    padding: 0.5rem;
    cursor: pointer; 
}


.sidebarContainer>ul>li:hover >ul>li{
    display:block;
    
    
}

.sideBar>ul>li>ul>li>a{
    text-decoration: none;
}



.sideBar>ul>li>ul>li a{
    color: rgb(252, 250, 250)!important;
    cursor: pointer; 
}




  
  
